/* Resetando estilização do navegador */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* Display GRID */

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}