
/* Estilizando header */

header {
  padding: 8px 24px;
}

header, header section, 
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button img, 
.header__icons {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 48px;
  margin-left: 24px;
}

.menu__button img {
  height: 24px;
}

.search__container {
  display: flex;
  justify-content: space-between;
}

.search__container__input {
  background-color: #fff;
  border-radius: 21px;
  border: 1px solid #C6C6C6;
  height: 42px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.search__container__input input {
  border: none;
  font-size: 16px;
}

.search__container__input input:focus {
  outline: none;
}

.search {
  background-color: #F0F0F0;
  height: 100%;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 31px 31px 0;
}

.search:hover {
  background-color: #D9D9D9;
  cursor: pointer;
}

.mic__icon {
  margin-left: 16px;
  background-color: #F0F0F0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.mic__icon img {
  height: 20px;
}

.profile button+button {
  margin-right: 8px;
}

.perfil__photo {
  object-fit: cover;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  margin-left: 6px;
}

.hover__background {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover__background:hover {
  background-color: #F0F0F0;
}

.mic__icon,
.perfil__photo,
.logo:hover {
  cursor: pointer;
}
